# Mathematical Operators

**Introduction**

Mathematical operators can broadly be classified into;

- Arithmetic operators

- Assignment operators

- Comparison operators

- Logical operators

- Identity operators

- Bitwise operators

**Arithmetic Operations**

In [1]:
# Addition
print("Addition:", 5 + 3)

Addition: 8

In [2]:
# Subtraction
print("Subtraction:", 10 - 3)

Subtraction: 7

In [3]:
# Multiplication
print("Multiplication:", 4 * 5)

Multiplication: 20

In [4]:
# Division
print("Division:", 20 / 4)

Division: 5.0

In [5]:
# Incorrect usage: Adding an integer and a string
print(5 + "3")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Assignment operators**

In [6]:
# Assignment
x = 10
print("Assignment:", x)

Assignment: 10

In [7]:
# Increment
x += 5
print("Increment:", x)

Increment: 15

In [8]:
# Decrement
x -= 3
print("Decrement:", x)

Decrement: 12

In [9]:
# Multiply and assign
x *= 2
print("Multiply and Assign:", x)

Multiply and Assign: 24

In [10]:
# Correct: dividing an integer by an integer
print(x / int("124"))

0.1935483870967742

**Comparison operators**

In [11]:
# Comparison
a = 15
b = 10

# Greater than
print("Greater than:", a > b)

Greater than: True

In [12]:
# Less than or equal to
print("Less than or equal to:", a <= b)

Less than or equal to: False

In [13]:
# Equal to
print("Equal to:", a == b)

Equal to: False

In [14]:
# Not equal to
print("Not equal to:", a != b)

Not equal to: True

In [15]:
# Incorrect usage: attempting to compare a string and a number
print("2" > 3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
# Corrected: compare a number and another number
print(2 > 3)

False

**Logical operators**

In [17]:
# Logical
statement1 = True
statement2 = False

# AND
print("Result of AND:", (statement1 and statement2))

Result of AND: False

In [18]:
# OR
print("Result of OR:", (statement1 or statement2))

Result of OR: True

In [19]:
# NOT
print("Result of NOT:", (not statement1))

Result of NOT: False

In [20]:
# Combining conditions with AND and OR
age = 25
is_student = False

# Both conditions must be True
if age > 18 and not is_student:
    print("You are an adult, not a student.")

You are an adult, not a student.

In [21]:
# Incorrect usage: Using AND operator with non-boolean values
print("Incorrect Result with AND operator:", ("Hello" and 42))

Incorrect Result with AND operator: 42

In [23]:
# Corrected using boolan values and logical AND
print("Corrected result:",True and False)

Corrected result: False

**Bitwise Operators**

Bitwise operators are operators that perform operations directly to the binary representation of Integers

In [24]:

a = 5      # Binary: 0101
b = 3      # Binary: 0011

# AND
print("Bitwise AND:", (a & b))

Bitwise AND: 1

In [25]:
# OR
print("Bitwise OR:", (a | b))

Bitwise OR: 7

In [26]:
 # XOR
print("Bitwise XOR:", (a ^ b))

Bitwise XOR: 6

In [27]:
# NOT
print("Bitwise NOT:",~a)

Bitwise NOT: -6

**Identity Operators**

They are used to compare the **memory location** of two objects

*Identity operators are used to check whether two variables refer to the exact same object in memory, not just whether they have the same value.*

In [ ]:
# Identity operators with numbers
a = 10
b = 10.0

print("is:", a is b) #False sincce a and b are diffrent types

is: False

In [30]:
print("is not:", a is not b) #True, as a and b are different types

is not: True